* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

.container {
  max-width: 1000px;
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  background-color: #f5f5f5;
  background-image: url(./assets/main_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.nav {
  display: flex;
  padding: 15px 0;
  align-items: center;
}

.nav__left {
  flex: 1;
}

.logo {
  font-size: 1.5rem;
  font-weight: 500;
}

.logo__highlight {
  color: #377e9a;
}

.navbar {
  display: flex;
}

.navbar__item {
  padding: 16px;
  color: #49515d;
  text-decoration: none;
  font-size: 15px;
  opacity: 0.6;
  display: block;
  transform: oopacity 0.3s ease-in-out;
}

.navbar__item::after {
  content: "";
  width: 0;
  display: block;
  border-bottom: 3px solid #377e9a;
  margin: auto;
  margin-top: 4px;
  transition: width 0.3s ease-in-out;
}

.navbar__item--active,
.navbar__item:hover {
  opacity: 1;
}

.navbar__item--active::after,
.navbar__item:hover::after {
  width: 24px;
}

.navbar__item:last-of-type {
  padding-right: 0;
}
